/*--------------------------------------------
    サイトカラー
---------------------------------------------*/
$bg : #fffff6;//背景色 #fefef9 
$text : #474554;//pタグの色
$accent : #007bb3;//titleなどの色
$pageTop_hover : #daa577;
$contact_th : #f3f3f3;

/*--------------------------------------------
    ブレイクポイント
---------------------------------------------*/
$md : 1000px;
$sp : 767px;
/*--------------------------------------------
    pc,spのdisplay:none;
---------------------------------------------*/
.only_pc{
    @media screen and (max-width:767px){
        display: none !important;
    }
}
.only_sp{
    display: none;
    @media screen and (max-width:767px){
        display: flex;
    }
}