@charset "utf-8";

li {
    list-style: none;
}

body {
    font-family: serif;
}

*{
    margin:0;
    padding:0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.bg {
    background: url(file:///C:/Users/Owner/poriporiporiImage/laptop-3214756.png) center center no-repeat;/*後でFileZillaからWordPressの画像保管場所のURLに書き換える*/
    background-size: cover;
    background-attachment: fixed;
    }

#HOMEspace {
    height: 100vh;
}

#ABOUTspace {
    height: 100vh;
}

.selfIntroduction {
    text-align: center;
}

.languageUsed {
    text-align: center;
}

.businessContent {
    text-align: center;
}

#PRODUCTspace {
    height: 100vh;
}

#CONTACTspace {
    height: 100vh;
}

footer {
    height: 10vh;
    text-align: center;
}
